
<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
    selector: "textarea",
    plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste"
    ],
    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
});
</script>

<section class = "row">
	<section class = "col-sm-8 col-xs-12">
		<h1>New Post</h1>
		<form role="form" action="/admin/new-post" method="post">
		    <div class="form-group">
		        <label for="title">Title</label>
		        <input id="title" class="form-control" name="title" placeholder="Enter Title">
		    </div>
		    <div class="form-group">
		        <label for="author">Author</label>
		        <input id="author" class="form-control" name="author" placeholder="Enter Your Name">
		    </div>
		    <div class="form-group">
		        <label for="post-body">Post Body</label>
		        <textarea class="form-control" id="post-body" name="body" placeholder="Enter blog content"></textarea>
		    </div>
		    <button type="submit" class="btn btn-default">Submit</button>
		</form>
	</section>
</section>